<app-header></app-header>

<section class="site-hero" style="background-image: url(assets/images/bg.jpeg);" id="section-home"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row intro-text align-items-center justify-content-center">
      <div class="col-md-10 text-center pt-5">

        <h1 class="site-heading site-animate">Welcome to <strong class="d-block">PSA's Website</strong></h1>
        <strong class="d-block text-white text-uppercase letter-spacing">Raising a pure breed</strong>

      </div>
    </div>
  </div>
</section> <!-- section -->





<section class="site-section mt-4  " id="Listen">
  <div class="container pt-4">
    <div class="row">
      <div class="section-heading text-center col-md-12">
        <h2 class="mb-2"> <strong>Listen</strong></h2> <br>
        <iframe src="https://mixlr.com/the-river--2/embed" width="100%" height="150px" scrolling="no" frameborder="no"
          marginheight="0" marginwidth="0"></iframe><small><a href="https://mixlr.com/the-river--2"
            style="color:#1a1a1a; font-family:Helvetica, sans-serif; font-size:11px;">The-River is on Mixlr</a></small>
        <iframe src="https://anchor.fm/psateachings/embed" height="150px" width="100%" frameborder="0"
          scrolling="no"></iframe>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1400402347&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div
          style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
          <a href="https://soundcloud.com/user-538360382" title="PSA" target="_blank"
            style="color: #cccccc; text-decoration: none;">PSA</a> · <a
            href="https://soundcloud.com/user-538360382/sets/prayer-cruise-2022" title="PRAYER CRUISE 2022"
            target="_blank" style="color: #cccccc; text-decoration: none;">PRAYER CRUISE 2022</a></div>
      </div>
    </div>
    <!-- <div class="filters">
                  <ul>
                      <li class="active" data-filter="*">All</li>
                      <li data-filter=".packaging">Packaging</li>
                      <li data-filter=".mockup">Mockup</li>
                      <li data-filter=".typography">Typography</li>
                      <li data-filter=".photography">Photography</li>
                  </ul>
              </div>
  
              <div class="filters-content">
                  <div class="row grid">
                      <div class="single-portfolio col-sm-4 all mockup">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="assets/images/p1.jpg" alt="">
                              </div>
                              <a href="assets/images/p1.jpg" class="img-pop-up">  
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="assets/images/preview.png" alt=""></div>
                                  </div>
                              </a>                                  
                          </div>
                          <div class="p-inner">
                              <h4>Square Box Mockup</h4>
                              <div class="cat">Mockup</div>
                          </div>                                         
                      </div>
                      <div class="single-portfolio col-sm-4 all mockup">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="assets/images/p2.jpg" alt="">
                              </div>
                              <a href="assets/images/p2.jpg" class="img-pop-up">  
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="assets/images/preview.png" alt=""></div>
                                  </div>
                              </a>                                  
                          </div>
                          <div class="p-inner">
                              <h4>Product Box Package Mockup</h4>
                              <div class="cat">Mockup</div>
                          </div>                                         
                      </div>                            
                      <div class="single-portfolio col-sm-4 all packaging">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="assets/images/p3.jpg" alt="">
                              </div>
                              <a href="assets/images/p3.jpg" class="img-pop-up">  
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="assets/images/preview.png" alt=""></div>
                                  </div>
                              </a> 
  
                          </div>
                          <div class="p-inner">
                              <h4>Creative Package Design</h4>
                              <div class="cat">Packaging</div>
                          </div>
                      </div>
                      <div class="single-portfolio col-sm-4 all packaging">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="assets/images/p4.jpg" alt="">
                              </div>
                              <a href="assets/images/p4.jpg" class="img-pop-up">  
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="assets/images/preview.png" alt=""></div>
                                  </div>
                              </a>                                
                          </div> 
                          <div class="p-inner">
                              <h4>Packaging Brand</h4>
                              <div class="cat">Packaging</div>
                          </div>
                      </div>
                      <div class="single-portfolio col-sm-4 all typography">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="assets/images/p5.jpg" alt="">
                              </div>
                              <a href="assets/images/p5.jpg" class="img-pop-up">  
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="assets/images/preview.png" alt=""></div>
                                  </div>
                              </a>                                
                          </div>
                          <div class="p-inner">
                              <h4>Isometric 3D Extrusion</h4>
                              <div class="cat">Typography</div>
                          </div>
                      </div>
                      <div class="single-portfolio col-sm-4 all photography">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="assets/images/p6.jpg" alt="">
                              </div>
                              <a href="assets/images/p6.jpg" class="img-pop-up">  
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="assets/images/preview.png" alt=""></div>
                                  </div>
                              </a>                                
                          </div>
                          <div class="p-inner">
                              <h4>White Space Photography</h4>
                              <div class="cat">photography</div>
                          </div>
                      </div>
                  </div>
              </div> -->
  </div>
</section>
<!-- .section -->


<section class="site-section " id="Watch">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2> <strong>Watch</strong></h2>
          <br>
        </div>

        <iframe width="100%" height="500px" [src]="sanitize(videos[0]?.link)" title="{{videos[0]?.title}}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

      </div>
      <div class="col-md-6">
        <!-- <h2 class="mb-5">Education</h2> -->

        <div class="resume-item mb-4">
          <!-- <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                          <h3>Masteral in Information Technology</h3>
                          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                          <span class="school">New York University</span> -->
          <iframe width="100%" height="315" [src]="sanitize(videos[1]?.link)" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div class="resume-item mb-4">
          <iframe width="100%" height="315" [src]="sanitize(videos[2]?.link)" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        </div>


      </div>
      <div class="col-md-6">


        <!-- <h2 class="mb-5">Experience</h2> -->

        <div class="resume-item mb-4">
          <iframe width="100%" height="315" [src]="sanitize(videos[3]?.link)" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        </div>

        <div class="resume-item mb-4">
          <iframe width="100%" height="315" [src]="sanitize(videos[4]?.link)" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        </div>




      </div>
    </div>
  </div>
</section> <!-- .section -->

<section class="site-section" id="About">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
        <img src="https://media.graphcms.com/0TMF4CL8RPmXLkQo3jqx" alt="Image placeholder" class="img-fluid">
      </div>
      <div class="col-lg-5 pl-lg-5">
        <div class="section-heading">
          <h2>About <strong>PSA</strong></h2>
        </div>
        <p class="lead">Samuel Amoo fondly called PSA is the pastor in charge of the redeemed Christian church of God,
          King’s Embassy parish Abuja. A graduate of mathematics from the Redeemers University with an MBA from the
          University of Southwales.</p>

        <p class="mb-5">
          Born out of covenant with God his life’s calling to raise agents of light is expressed through the initiative
          of the Samuel Generation, an outreach that seeks to prove that pure breeds can arise in the midst of
          corruption</p>


        <p>
          <!-- <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a> -->
          <a href="#Contact" class="btn btn-secondary px-4 py-2 btn-sm">Contact PSA</a>
        </p>
      </div>
    </div>


  </div>
</section>
<section class="site-section pb-0" id="Events">
  <div class="container">

    <div class="row mb-4">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2>Upcoming/Recurring <strong>Events</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 text-center mb-5">
        <div class="site-service-item site-animate" data-animate-effect="fadeIn">
          <img src="assets/images/school of spiritual growth.jpeg" width="100%" alt="">
          <h3 class="my-4">School of Spiritual Growth</h3>
          <p>Every Sunday, 9pm</p>
          <!-- <p><a href="#" class="site-link">Register now <i class="icon-chevron-right"></i></a></p> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center mb-5">
        <div class="site-service-item site-animate" data-animate-effect="fadeIn">
          <img src="assets/images/Prayer cruise.jpeg" width="100%" alt="">
          <h3 class="my-4">25 days of Answers</h3>
          <p>7th - 31st March 2022, 9pm</p>
          <!-- <p><a href="#" class="site-link">Register now <i class="icon-chevron-right"></i></a></p> -->
        </div>
      </div>

      <div class="col-md-6 col-lg-4 text-center mb-5">
        <div class="site-service-item site-animate" data-animate-effect="fadeIn">
          <img src="assets/images/be a man of God.jpeg" width="100%" alt="">
          <h3 class="my-4">School of Light</h3>
          <p>Wednesday, 20th March 2022, 6pm</p>
          <!-- <p><a href="#" class="site-link">Register now <i class="icon-chevron-right"></i></a></p> -->
        </div>
      </div>
      <!-- <div class="col-md-6 col-lg-4 text-center mb-5">
        <div class="site-service-item site-animate" data-animate-effect="fadeIn">
          <img src="assets/images/flyer.jpg" width="100%" alt="">
          <h3 class="my-4">Jesus Only</h3>
          <p>Friday, 3rd December 2021, 8pm</p>
          <p><a href="#" class="site-link">Register now <i class="icon-chevron-right"></i></a></p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center mb-5">
        <div class="site-service-item site-animate" data-animate-effect="fadeIn">
          <img src="assets/images/flyer.jpg" width="100%" alt="">
          <h3 class="my-4">Jesus Only</h3>
          <p>Friday, 3rd December 2021, 8pm</p>
          <p><a href="#" class="site-link">Register now <i class="icon-chevron-right"></i></a></p>
        </div>
      </div> -->


    </div>
  </div>
</section>
<!-- <section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2> <strong>Testimonies</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img src="assets/images/person_1.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <blockquote class="block-47-quote">
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
              language ocean.&rdquo;</p>
            <cite class="block-47-quote-author">&mdash; Ethan McCown, CEO <a href="#">XYZ Inc.</a></cite>
          </blockquote>
        </div>

      </div>
      <div class="col-md-6">

        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img src="assets/images/person_2.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <blockquote class="block-47-quote">
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
              language ocean.&rdquo;</p>
            <cite class="block-47-quote-author">&mdash; Craig Gowen, CEO <a href="#">XYZ Inc.</a></cite>
          </blockquote>
        </div>

      </div>

      <div class="col-md-6">

        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img src="assets/images/person_3.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <blockquote class="block-47-quote">
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
              language ocean.&rdquo;</p>
            <cite class="block-47-quote-author">&mdash; Ethan McCown, CEO <a href="#">XYZ Inc.</a></cite>
          </blockquote>
        </div>

      </div>
      <div class="col-md-6">

        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img src="assets/images/person_4.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <blockquote class="block-47-quote">
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
              language ocean.&rdquo;</p>
            <cite class="block-47-quote-author">&mdash; Craig Gowen, CEO <a href="#">XYZ Inc.</a></cite>
          </blockquote>
        </div>

      </div>

    </div>
  </div>
</section> -->



<section class="site-section" id="Contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2>Get <strong>In Touch</strong></h2>
        </div>
      </div>

      <div class="col-md-7 mb-5 mb-md-0">
        <form #buyForm="ngForm" (ngSubmit)="sendContact(buyForm)" class="site-form mt-5">

          <h3 class="mb-5">Send a Message</h3>
          <div class="form-group">
            <input type="text" #name="ngModel" required name="name" [(ngModel)]="post.name"
              class="form-control px-3 py-4" placeholder="Your Name">
            <div *ngIf="name.errors && buyForm.submitted && !isValidFormSubmitted" class="error">
              <div *ngIf="name.errors['required']">
                <p style="color: red; margin-top: 5px"> <img src="assets/img/error.svg" width="0.9375rem" alt="">
                  &nbsp;
                  Name is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" #email="ngModel" required name="email" [(ngModel)]="post.email"
              class="form-control px-3 py-4" placeholder="Your Email">
            <div *ngIf="email.errors && buyForm.submitted && !isValidFormSubmitted" class="error">
              <div *ngIf="email.errors['required']">
                <p style="color: red; margin-top: 5px"> <img src="assets/img/error.svg" width="0.9375rem" alt="">
                  &nbsp;
                  Email is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" #phone="ngModel" required name="phone" [(ngModel)]="post.phone"
              class="form-control px-3 py-4" placeholder="Your Phone">
            <div *ngIf="phone.errors && buyForm.submitted && !isValidFormSubmitted" class="error">
              <div *ngIf="phone.errors['required']">
                <p style="color: red; margin-top: 5px"> <img src="assets/img/error.svg" width="0.9375rem" alt="">
                  &nbsp;
                  Phone is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea #message="ngModel" required name="message" [(ngModel)]="post.message"
              class="form-control px-3 py-4" placeholder="Message "> </textarea>
            <div *ngIf="message.errors && buyForm.submitted && !isValidFormSubmitted" class="error">
              <div *ngIf="message.errors['required']">
                <p style="color: red; margin-top: 5px"> <img src="assets/img/error.svg" width="0.9375rem" alt=""> &nbsp;
                  Message is required.</p>
              </div>
            </div>
          </div>
          <!-- <div class="form-group mb-5">
              <textarea class="form-control px-3 py-4" name="message" cols="30" rows="10"
                placeholder="Write a Message"></textarea>
            </div> -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary  px-4 py-3" value="Send Message">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-5 pl-md-5">
        <h3 class="mb-5">My Contact Details</h3>
        <ul class="site-contact-details">
          <li>
            <span class="text-uppercase">Email</span>
            info@psa.ng
          </li>
          <!-- <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLScDZVtWEUS9Lw6m09Wg0S2jZXTdcLHixrHpIJZNoRq5G8zsTg/viewform?embedded=true"
            width="640" height="382" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
          <!-- <li>
            <span class="text-uppercase">Phone</span>
            +30 976 1382 9921
          </li>
          <li>
            <span class="text-uppercase">Fax</span>
            +30 976 1382 9922
          </li> -->
          <!-- <li>
                              <span class="text-uppercase">Address</span>
                              San Francisco, CA <br>
                              4th Floor8 Lower  <br>
                              San Francisco street, M1 50F
                          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>


<footer class="site-footer">
  <div class="container">

    <div class="row mb-5">
      <p class="col-12 text-center">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy; <script>
          document.write(new Date().getFullYear());

        </script> All rights reserved
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>

    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <p>
          <a href="http://web.facebook.com/samuel.oluwatobaamoo" class="social-item"><span
              class="icon-facebook2"></span></a>
          <a href="https://twitter.com/psamuel_amoo?s=08" class="social-item"><span class="icon-twitter"></span></a>
          <a href="https://www.instagram.com/psamuelamoo/" class="social-item"><span class="icon-instagram2"></span></a>
          <a href="https://www.youtube.com/results?search_query=samuel+amoo" class="social-item"><span
              class="icon-youtube"></span></a>
          <!-- <a href="#" class="social-item"><span class="icon-vimeo"></span></a> -->
        </p>
      </div>
    </div>

  </div>
</footer>
